<div class="columns">
  <div class="column is-5">
    <aside class="menu">
      <p class="menu-label">
        By genres
      </p>
      <ul class="menu-list">
        <div class="columns">
          <%= form_tag(movies_path, method: :get) do %>
            <% for genre in Genre.all %>
              <li>
                <%= check_box_tag 'genre_ids[]', genre.id, (@genres ? @genres.map(&:id).try(:include?, genre.id) : false) %>
                <%= "#{genre.name} (#{genre.movies.count})" -%>
              </li>
            <% end %>
            <br>
            <%= submit_tag 'Filter', class: 'button is-primary' %>
          <% end %>
        </div>
      </ul>
    </aside>


  </div>
  <div class="column">
    <% @movies.each do |movie| %>
        <div class="box">
          <%= link_to movie_path(movie) do %>

              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img style="width: 70%;" src=<%= movie.poster_path %>>
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h3 class="is-3"><%= movie.title %></h3>
                    <h6 class="is-6" style="color: #666; font-weight: 100;"><%= movie.overview %></h6>
                    <small>
                      <% movie.genres.each do |g| %>
                        <%= link_to g.name, movies_path(genre_ids: [g.id]), class: "button is-info is-outlined" %>
                      <% end %>
                    </small>
                  </div>
                  <!-- <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item">
                        <span class="icon is-small"><i class="fa fa-heart"><%= movie.vote_average %></i></span>
                      </a>
                    </div>
                  </nav> -->
                </div>
              </article>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<br>


<%= paginate @movies %>
<br>
