<table class="table">
  <thead>
    <tr>
      <th>General info</th>
      <th>Similar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="70%">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image">
                  <img style="height: 50%"src=<%= @movie.poster_path %>>
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Title: <%= @movie.title %></p>
                <br>
                <p class="subtitle is-6">Tagline: "<%= @movie.tagline %>"</p>
                <small>
                  Release date:
                  <%= @movie.release_date %>
                  <br>
                  Tmdb:
                  <%= @movie.tmdb_id %>
                  <br>
                  Imdb:
                  <%= @movie.imdb_id %>
                  <br>
                  Genre:
                  <%= @movie.genres %>
                  <br>
                  <%= @movie.desc if current_user.try(:admin?) %>
                </small>
              </div>
            </div>

            <div class="content">
              <br>
              <%= @movie.overview %>
              <br>
              <small>
                <br>
                <%= @movie.desc if current_user.try(:admin?) %>
              </small>
            </div>
          </div>
          <footer class="card-footer">
            <%= link_to 'Edit', edit_movie_path(@movie), class: "card-footer-item" %>
            <%= link_to 'Back', movies_path, class: "card-footer-item" %>
          </footer>
        </div>
      </td>
      <td width="30%">
        <% similar = @movie.similar_ids.split(', ').map(&:to_s)[0..5] %>
        <% # similar = @movie.similar_ids.present? ? JSON.parse(@movie.similar_ids)[0..5] : Quanteda.run(@movie.id)[0..5]  %>


        <% similar.each_with_index do |mid, i|%>
            <% m = Movie.find(mid) %>
            <%= link_to movie_path(m) do %>
                <div class="card">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img src=<%= m.poster_path %>>
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4"><%= m.title %></p>
                        <p class="subtitle is-6"><%= m.tagline %></p>
                      </div>
                    </div>
                  </div>
                </div>
            <% end  %>
          <% end %>
      </td>
    </tr>
  </tbody>
</table>
