<table class="table">
  <thead>
    <tr>
      <th>General info</th>
      <th>Similar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="70%">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image">
                  <img style="height: 50%"src=<%= @movie.poster_path %>>
                </figure>
              </div>
              <div class="media-content">
                <div class="columns">
                  <div class="column">
                    <p class="title is-4"><%= @movie.title %></p>
                    <br>
                    <p class="subtitle is-6"><i>"<%= @movie.tagline %>"</i></p>
                    <small>
                      Release date:
                      <%= @movie.release_date %>
                      <br>
                      Tmdb:
                      <%= @movie.tmdb_id %>
                      <br>
                      Imdb:
                      <%= @movie.imdb_id %>
                      <br>
                      Genres:
                      <% @movie.genres.each do |g| %>
                          <%= link_to g.name, movies_path(genre_ids: [g.id]), class: "button is-info is-outlined is-small" %>
                      <% end %>
                      <br>
                      Actors:
                      <%= @movie.actors_info %>
                      <br>
                    </small>
                  </div>
                  <div class="column graph" style="display: none;">

                  </div>
                </div>
              </div>
            </div>

            <div class="content">
              <br>
              <%= @movie.overview %>
              <hr>
              <i style="color: #666; font-weight: 100;">
                <% @movie.keywords_info.split(', ').each do |word| %>
                  <%= link_to "#{word}", movies_path(search: "#{word}") %>
                <% end %>
              </i>
              <small>
                <br>
                <%= @movie.desc %>
              </small>
              <hr>
              <% if current_user.admin? %>
                  <div>
                    <%= link_to 'Edit', edit_movie_path(@movie) %>
                    <%= link_to 'Destroy', @movie, method: :delete %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </td>
      <td width="30%">
        <% similar = @movie.similar_ids.split(', ').map(&:to_s)[0..5] if @movie.similar_ids %>
        <% # similar = @movie.similar_ids.present? ? JSON.parse(@movie.similar_ids)[0..5] : Quanteda.run(@movie.id)[0..5]  %>


        <% if similar %>
          <% similar.each_with_index do |mid, i| %>
          <% m = Movie.find(mid) %>
          <%= link_to movie_path(m) do %>
              <div class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-64x64">
                        <img src=<%= m.poster_path %>>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4"><%= m.title %></p>
                      <p class="subtitle is-6"><i style="color: #666; font-weight: 100; font-size: small"><%= m.keywords_info %></i></p>
                    </div>
                  </div>
                </div>
              </div>
          <% end  %>
        <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<script src="//d3js.org/d3.v3.min.js"></script>
<style>
  .link {
    font-weight: 100;
    fill: none;
    stroke: #666;
    stroke-width: 0.5px;
  }

  .node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 0.5px;
  }

  text {
    font-weight: 100;
    font: 10px sans-serif;
    pointer-events: none;
  }

  svg {
    margin: 2px;
  }

</style>

<script>
    var links = <%= @links.to_json.html_safe %>;

    var nodes = <%= @nodes.to_json.html_safe %>;

    // Compute the distinct nodes from the links.
    links.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
    });

    var width = 250,
        height = 250;

    var force = d3.layout.force()
        .nodes(d3.values(nodes))
        .links(links)
        .size([width, height])
        .linkDistance(60)
        .charge(-300)
        .on("tick", tick)
        .start();

    var colors = d3.scale.category10();

    var svg = d3.select("div.graph").append("svg")
        .attr("width", width)
        .attr("height", height);

    var link = svg.selectAll(".link")
        .data(force.links())
        .enter().append("line")
        .attr("class", "link");

    var node = svg.selectAll(".node")
        .data(force.nodes())
        .enter().append("g")
        .attr("class", "node")
        .call(force.drag);

    node.append("text")
        .attr("x", 12)
        .attr("dy", ".35em")
        .text(function(d) { return d.name; });

    node.append("circle")
        .attr("r", 5)
        .style("fill", function(d, i){
            return colors(i);
        });

    function tick() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    }

    function mouseover() {
        d3.select(this).select("circle").transition()
            .duration(750)
            .attr("r", 16);
    }

    function mouseout() {
        d3.select(this).select("circle").transition()
            .duration(750)
            .attr("r", 8);
    }
</script>

