<!DOCTYPE html>
<html>
  <head>
    <title>What2watch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'Movies', movies_path %> |
  <%= link_to 'Source APIs', source_apis_path %> |
  <%= yield %>
  </body>
</html>
