<!DOCTYPE html>
<html>
  <head>
    <title>What2watch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="nav has-shadow">
    <div class="nav-left">
      <h1 class=nav-item" style="font-size: 36px"><%= link_to 'ðŸ¿', root_path %></h1>
    </div>
    <div class="nav-right nav-menu">
      <%= link_to 'Movies', movies_path, class: "nav-item" %>
      <%= link_to 'Source APIs', source_apis_path, class: "nav-item" %>
    </div>
  </nav>

  <%= yield %>
  </body>
</html>
